@font-face {
  font-family: "Magra";
  src: url("assets/fonts/Magra-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RedHatText";
  src: url("assets/fonts/RedHatText-VariableFont_wght.ttf");
  font-weight: 500;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  min-width: 100vh;
  border: 1px solid red;
}

.header {
  display: flex;
  height: 90px;
  background-color: #F2785C;
  opacity: 0.7;
  box-shadow: 0 3px 5px#0D606F;
}

.logo-img {
  display: flex;
  margin: 25px 6px 34px 120px;
  width: 30px;
  height: 30px;
}

.logo-text {
  display: flex;
  align-items: center;
  margin-right: 153px;
  font-family: Magra;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  font-family: RedHatText;
  font-weight: 500;
  font-size: 16px;
  gap: 42px;
}

.nav-link {
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.nav-link:hover {
  color: #0D606F;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 41px;
  background-color: #0D606F;
  border-radius: 10px;
  font-family: RedHatText;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.main {
  background-color: lightgrey;
}

.footer {
  background-color: lightseagreen;
}
