@font-face {
  font-family: "Magra";
  src: url("assets/fonts/Magra-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RedHatText";
  src: url("assets/fonts/RedHatText-VariableFont_wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Aleo";
  src: url("assets/fonts/Aleo-Regular.ttf");
  font-weight: 700;
}
/*
* {
  border: 1px solid red;
}
*/
body {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 1440px;
  z-index: 2;
  height: 90px;
  background-color: rgb(242, 120, 92, 0.7);
  box-shadow: 0 4px 4px rgb(13, 96, 111, 0.5);
}

.logo {
  display: flex;
}

.logo-img {
  display: flex;
  margin: 26px 6px 34px 0;
  width: 30px;
  height: 30px;
}

.logo-text {
  display: flex;
  align-items: center;
  font-family: Magra, sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  font-family: RedHatText, sans-serif;
  font-weight: 500;
  font-size: 16px;
  gap: 42px;
}

.nav-link {
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

.nav-link:hover {
  color: #0D606F;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 41px;
  background-color: #0D606F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border: 0;
  border-radius: 10px;
  font-family: RedHatText, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.preview {
  display: flex;
  height: 765px;
  background-image: url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash\ 1.svg);
  background-repeat: no-repeat;
  font-family: Aleo, serif;
  font-weight: 700;
  color: white;
}

.search-block {
  display: block;
  
  margin: 122px 0 0 120px;
}

.preview-title {
  font-size: 80px;
}

.preview-description {
  font-style: italic;
  font-size: 20px;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 18px;
}

.search-text {
  width: 560px;
  font-style: italic;
  font-size: 24px;
  color: #F2785C;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13.5px 32.5px;
  background-color: #0D606F;
  border: 0;
  border-radius: 10px;
  font-family: RedHatText, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
}



.footer {
  background-color: lightseagreen;
}
