* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 10px 40px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
  flex-wrap: wrap;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.logo {
  display: flex;
}

.logo-img {
  display: flex;
  margin: 16px 6px 0 0;
  width: 30px;
  height: 30px;
}

.logo-text {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-family: Magra, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.nav-list {
  display: flex;
  list-style: none;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 16px;
  gap: 42px;
  padding-left: 0;
  flex-wrap: wrap;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link.mobile,
.close-button,
.nav-link-mobile {
  display: none;
}

.nav-link:hover {
  color: #0D606F;
  transition: 0.3s;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 41px;
  background-color: #0D606F;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
  border: 0;
  border-radius: 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.header-button:hover {
  padding-bottom: 5px;
  transition: 0.3s;
}

.main {
  display: flex;
  flex-direction: column;
}

.preview {
  display: flex;
  height: 765px;
  background-image: url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-bottom: 48px;
}

.search-block {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin: 121px 0 0 120px;
}

.preview-title {
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 80px;
  margin: 0;
}

.preview-description {
  font-family: Aleo, serif;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin: 32px 0;
}

.search-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 18px;
  margin-top: 13px;
  margin-bottom: 48px;
}

.search-field {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  font-family: Aleo, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  color: #F2785C;
  margin: 0 45px 0 22px;
}

.search-field::placeholder {
  color: #F2785C;
}

.search-button {
  width: 37%;
}

.search-button,
.destinations-button,
.stories-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 13.5px 32.5px;
  background-color: #0D606F;
  border: 0;
  border-radius: 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.15px;
  color: white;
}

.section-title {
  display: flex;
  justify-content: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  color:#F2785C;  
}

.steps {
  display: flex;
  flex-direction: column;
  margin: 0 130px 42px 130px;
}

.steps-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Aleo, serif;
  font-weight: 400;
  font-size: 20px;
  color:#0D606F;
  margin-top: 7px;
  flex-wrap: wrap;
}

.step-icon {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background-color: #F2785C;
  border-radius: 16px;
}

.bicycle,
.plane {
  padding-top: 28px;
  padding-bottom: 27px;
}

.calendar {
  padding: 24px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-block {
  padding-left: 70px;
}

.destinations-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.slider-left,
.slider-center,
.slider-right {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
  gap: 60px;
}

.slider {
  display: flex;
  flex: row;
  position: relative;
  left: 0px;
}

@keyframes move-right {
  from {left: 0px;}
  to {left: -860px;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;
}

@keyframes move-left {
  from {left: 0px;}
  to {left: 860px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}

.destination-title {
  margin-bottom: 30px;
}

.destination-element{
  display: block;
  margin: 16px 0;
}

.destination-image-mobile {
  display: none;
}

.destination-image {
  border-radius: 16px;
}

.destination-element {
  position: relative;
}

.destination-name {
  position: absolute;
  bottom: 45px;
  left: 15px;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: white;
}

.arrows {
  display: flex;
  position: relative;
}

.arrow-left {
  position: absolute;
  transform: translate(-107.5%, 2%);
  width: 800px;
  height: 800px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  transform: translate(107.5%, 2%);
  width: 800px;
  height: 800px;
  cursor: pointer;
}

.arrow-line {
  display: block;
  position: absolute;
  width: 800px;
  height: 800px;
  background-color: transparent;
  border-radius: 16px;

}

.dots-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.dot {  
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.center-dot {
  background-color: rgb(242, 120, 92);
}

.dot:hover {
  cursor: pointer;
  background-color: rgb(242, 120, 92);
  transition: 0.3s;
}

.arrow-image {
  margin-right: 12px;
}

.destinations-button,
.stories-button {
  position: relative;
  width: 228px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.destinations-button p,
.stories-button p {
  margin: 0 auto;
}

.section-title.stories {
  margin-top: 80px;
  margin-bottom: 40px;
}

.stories-block {
  display: flex;
  flex-direction: column;
  color: #0D606F;
  padding: 40px 120px 10px 120px;
  background-color:rgba(255, 255, 255, 0.7);
}

.story-image-mobile {
  display: none;
}

.story-image {
  float: left;
  margin-right: 40px;
  margin-bottom: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgb(13, 96, 111);
}

.story h3 {
  font-family: Aleo, serif;
  font-weight: 400;
  font-size: 35px;
  margin: 0;
}

.story p {
  font-family: Aleo, serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 0;
}

.story a {
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 20px;
  color:#0d606f;
}

.stories-button {
  margin-top: 10px;
  margin-bottom: 32px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
  transition: 0.3s;
}

.footer-bg-section {
  background-image: url(assets/img/Rectangle_33.jpg);
  background-repeat: round;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  flex-wrap: wrap;
  padding: 0px 120px;
}

.footer-icons,
.footer-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 5px 0;
}

.footer-rights {
  margin: 20px;
  padding-left: 48px;
}

.social-link:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.dark {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.pop-up {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  margin: 0 auto;
  padding-top: 45px;
  font-family: Aleo, serif;
  color: rgba(13, 96, 111, 1);
  transform: translateY(-1500px);
  transition: all 1.5s ease;;
}

.login-active {
  transform: translateY(0%);
}

.pop-up-dark {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.pop-up-content {
  width: 650px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border-radius: 16px;
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.pop-up-title {
  font-size: 32px;
  font-weight: 700;
  padding: 0 15px;
  text-align: center;
}

.pop-up-social-buttons {
  display: flex;
  flex-direction: column;
  width: 86%;
}

.pop-up-button.social-media:hover {
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
  transition: 0.2s;
}

.pop-up-button.social-media,
.sign-in-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(13, 96, 111, 0.16);
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(13, 96, 111, 1);
}

.pop-up-button.social-media:first-of-type {
  color: white;
  background-color: rgba(24, 119, 242);
}

.pop-up-button.social-media:last-of-type {
  background-color: white;
}

.pop-up-social-buttons img{
  vertical-align: middle;
  margin-right: 15px;
}

.sign-in-button {
  color: white;
  background-color: rgba(13, 96, 111, 1);;
}  

.pop-up-form {
  display: flex;
  flex-direction: column;
  width: 86%;
  font-size: 16px;
}

.pop-up-input {
  height: 54px;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.pop-up-separator {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 36px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.5;
}

.pop-up-separator::before,
.pop-up-separator::after,
.pop-up-separator.line {
  display: block;
  content: "";
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  width: 100%;
  margin: auto 9px;
}

.pop-up-separator.line {
  background-color: transparent;
}

.register p {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.forgot-password {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.register {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  margin-bottom: 23px;
}

.pop-up a {
  color: #0D606F;
  font-weight: 700;
}

.hide {
  display: none;
}

.sign-up-height {
  height: 436px;
}

@media (max-width: 767px) {
  .preview {
    height: 100%;
  }

  .header {
    justify-content: space-between;
  }

  .header-button {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    width: 165px;
    height: 250px;
    background-color: rgba(242, 120, 92);
    box-shadow: 4px 3px rgba(13, 96, 111, 0.25);
    padding: 0px 15px 30px 0;
    border-radius: 16px;
    margin: 0;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .nav-active {
    transform: translateX(0);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 25px;
    padding-bottom: 10px;
    gap: 10px;
  }

  .nav-link-mobile,
  .nav-link.mobile,
  .menu-button,
  .close-button {
    display: block;
  }

  .menu-button {
    position: relative;
    width: 26.25px;
    height: 16px;
    cursor: pointer;
  }

  .menu-line {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2.67px;
    background-color: white;
    border-radius: 16px;
  }

  .menu-line:nth-child(1) {
    top: 0;
  }

  .menu-line:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-line:nth-child(3) {
    bottom: 0;
  }

  .close-button {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    cursor: pointer;
  }

  .close-line {
    display: block;
    width: 20px;
    height: 1.5px;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    top: 50%;
  }

  .close-line:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
  }

  .close-line:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
  }

  .search-block {
    margin: 100px 20px 0 20px;
    width: 100%;
  }

  .steps-block {
    justify-content: center;
  }

  .calendar-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .stories-block {
    padding: 40px 20px 10px 20px;
  }

  .story-image {
    width: 100%;
  }

}

@media (max-width: 391px) {
  .header {
    background-color: transparent;
    box-shadow: none;
    padding: 10px;
  }

  .menu-button {
    position: relative;
    top: 17px;
    right: 15px;
  }

  .logo-text,
  .preview-title,
  .preview-description {
    display: none;
  }

  .logo-img {
    margin-top: 35px;
    margin-left: 5px;
  }

  .pop-up-content {
    height: 600px;
  }

  .sign-up-height {
    height: 400px;
  }

  .pop-up-title {
    font-size: 24px;
  }

  .pop-up-title-p {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .pop-up-button.social-media {
    font-size: 16px;
  }

  .pop-up-separator {
    margin: 0;
  }

  .pop-up-separator.line {
    margin: 10px;
  }

  .preview {
    display: flex;
    background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(assets/img/garrett-parker-DlkF4-dbCOU-unsplash-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5px;
    height: 252px;
  }

  .search-block {
    margin: 130px 15px 0 15px;
    width: 100%;
  }

  .search-box {
    padding: 9px 9px 9px 16.5px;
  }

  .search-field {
    font-size: 14px;
    margin: 0;
  }

  .search-button,
  .destinations-button,
  .stories-button {
    font-size: 11px;
    width: 92px;
    height: 30px;
    padding: 7.5px 7.5px;
    display: flex;
    justify-content: space-around;
  }

  .search-button {
    width: 120px;
  }

  .section-title {
    font-size: 14px;
  }

  .steps {
    margin: 2px 10px 0px 10px;
  }

  .steps-block {
    font-size: 10px;
    line-height: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 5px;
    margin-top: 10px;
  }

  .step-icon {
    width: 70px;
    height: 70px;
  }

  .calendar-block {
    padding-left: 25px;
    padding-right: 0;
  }

  .bicycle,
  .calendar {
    padding: 18px;
  }

  .plane {
    padding: 20px 15px;
  }

  .bicycle-block {
    align-items: flex-start;
  }

  .plane-block {
    align-items: flex-end;
  }

  .bicycle-name {
    text-align: left;
  }

  .calendar-name {
    text-align: center;
    width: 150px;
  }

  .plane-name {
    text-align: right;
  }

  .destination-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .destination-image {
    height: 400px;
  }

  .destinations-block {
    position: relative;
  }

  @keyframes move-right {
    from {left: 0px;}
    to {left: -395px;}
  }
  
  @keyframes move-left {
    from {left: 0px;}
    to {left: 395px;}
  }

  .destinations-button {
    margin-top: 2px;
    margin-bottom: 10px;
  }

  .destination-element {
    margin: 0 15px;
  }

  .destination-image {
    display: none;
  }

  .destination-name {
    font-size: 20px;
    top: 8px;
    left: 15px;
  }

  .destination-image-mobile {
    display: block;
    border-radius: 16px;
  }

  .slider-left,
  .slider-center,
  .slider-right {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .arrow-left {
    position: absolute;
    left: 25px;
    top: 48%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    opacity: 0.5;
    cursor: pointer;
  }

  .arrow-right {
    position: absolute;
    right: 25px;
    top: 48%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .arrow-line {
    display: block;
    width: 18px;
    height: 4px;
    background-color:rgba(242, 120, 92);
    border-radius: 16px;
    position: absolute;
    top: 50%;
  }

  .arrow-left > .arrow-line:nth-child(1) {
    transform: translateY(180%) rotate(45deg);
  }

  .arrow-left > .arrow-line:nth-child(2) {
    transform: translateY(-100%) rotate(-45deg);
  }

  .arrow-right > .arrow-line:nth-child(1) {
    transform: translateY(180%) rotate(-45deg);
  }

  .arrow-right > .arrow-line:nth-child(2) {
    transform: translateY(-100%) rotate(45deg);
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .dots-block {
    gap: 6px;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
  }

  .left-dot {
    background-color: rgba(242, 120, 92);
  }

  .center-dot {
    background-color: rgba(242, 120, 92, 0.5);
  }

  .arrow-image {
    width: 8.75px;
    margin: 0;
  }

  .section-title.stories {
    margin: 10px;
  }

  .story-image {
    display: none;
  }

  .story-image-mobile {
    display: block;
    width: 155px;
    height: 130px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #0D606F;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .stories-block {
    padding: 10px 15px 13px 15px;
  }

  .story {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .story:last-of-type {
    margin-bottom: 5px;
  }

  .story-text h3 {
    font-size: 11px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .story-text p {
    display: inline-block;
    font-size: 9px;
    line-height: 10.8px;
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }

  .story-text a {
    position: relative;
    bottom: 3px;
    font-size: 9px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .footer-bg-section {
    background-image: url(assets/img/Rectangle_28.jpg);
    background-repeat: no-repeat;
  }

  .stories-button {
    margin: 0 auto;
  }

  .footer-links,
  .footer-rights {
    display: none;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 10px;
  }

  .footer {
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .step {
    width: 20%;
    height: 20%;
  }

  .calendar-block {
    padding: 0;
  }

  .calendar-name {
    word-wrap: normal;
    max-width: 130%;
  }
}